@import '_variables.scss';

@import '../../bower_components/foundation-sites/scss/foundation.scss';

@include foundation-everything;

table {
    a.button {
        margin-bottom: 0;
    }
}

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
}

.top-bar {

    margin-bottom: 2em;

    .menu-text.title {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 2em;
    }
}

tooltip {
    cursor: help;
}
