<div class="row">
  <div class="small-3 small-centered columns">
    <h1 class="text-center">Login</h1>

    <p ng-show="vm.error">
      Authentication failed: please verify your API url and private token
    </p>

    <form novalidate>
      <label>API url
        <input type='url' ng-model="config.api_url" placeholder="https://gitlab_instance/api/v3"/>
      </label>
      <label>Private token
        <input type='text' ng-model="config.private_token" placeholder="" />
      </label>
      <p class="help-text" id="passwordHelpText">
        In "Profile Settings" then "Applications"
      </p>

      <input type="submit" class="button expand" ng-click="vm.login(config)" value="Login"/>
    </form>
  </div>
</div>
